
<h1>Create Profile</h1> 

<%= form_with url: "/profiles/new", method: "post" do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>
<br>
<br>

<%= f.label :age %>
<%= f.number_field :age %>
<br>
<br>

<%= f.label :university %>
<%= f.text_field :university %>
<br>
<br>

<%= f.label :city %>
<%= f.text_field :city %>
<br>
<br>

<%= f.label "Short Introduction" %>
<%= f.text_field :bio  %>
<br>
<br>

<%= f.label :major %>
<%= f.text_field :major  %>
<br>
<br>

<%= f.label :cohort %>
<%= f.collection_select :cohort_id, Cohort.all, :id, :name %>
<br>
<br>

<%= f.label :programming_languages %>
<%= f.collection_check_boxes :language_id, Language.all, :id, :name %>
<br>
<br>

<% if false %>
<%= f.label :ruby_language, "Ruby" %>
<%= f.check_box :ruby_language %>
<br>
<%= f.label :python_language, "Python" %>
<%= f.check_box :python_language %>
<br>
<%= f.label :HTML5_language, "HTML5" %>
<%= f.check_box :HTML5_language %>
<br>
<%= f.label :java_language, "Java" %>
<%= f.check_box :java_language %>

<% end %>
<br>
<br>

<%= f.submit "Create Profile"%>

<% end %>