<%= stylesheet_link_tag    'profile', media: 'all' %>

<div class="row py-5 px-4">
    <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">

        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden fadeInDown">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media align-items-end profile-header">
                    <div class="profile mr-3">
                        <% if @profile.image.attached? %>
                        <img src="<%= url_for(@profile.image)%>" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                        <% else %>
                        <%= image_tag("1", width: '130', class: "rounded mb-2 img-thumbnail")%>
                        <% end %>
                        <br>
                        <a href="/profiles/edit" class="btn btn-dark btn-sm btn-block">Edit profile</a>
                    </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">
                        <%= @profile.name%>
                        </h4>
                        <p class="x-small mb-0"> 
                        <b> </b><%= @profile.city%>
                        </p>
                        <p class="small mb-0"> <i class="fas fa-code"></i>
                        <b> </b>
                        <% @profile.languages.each do |language|%>
                            <%= language.name %> 
                        <% end %>
                        </p>
                        <p class="small mb-3"> <i class="fas fa-user-friends"></i>
                        <b> </b><%= @profile.cohort.name %>
                    
                        </p>
                    </div>
                </div>
            </div>

            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">Age</h5><small class="text-muted"> <%= @profile.age %></small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">University</h5><small class="text-muted"> <%= @profile.university%></small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">Major</h5><small class="text-muted"><%= @profile.major%></small>
                    </li>                  
                </ul>
            </div>

            <div class="py-4 px-4">
                <div class="py-4">
                    <h5 class="mb-3">Bio</h5>
                    <div class="p-4 bg-light rounded shadow-sm">
                        <p class="font-italic mb-0" style="word-wrap: break-word;"><%= @profile.bio %></p>
                    </div>
                    <br>
                  
                    <% if !@profile.recommenders.empty? %>
                        <h5 class="mb-3">Recommenders: <%= @profile.recommenders.size %></h5>
                        <% @profile.recommenders.each do |recommender| %>
                        
                        <div class="p-4 bg-light rounded shadow-sm">
                        <p class="font-italic mb-0" style="word-wrap: break-word;">
                            <%= recommender.name%> commented on your page:  <%= Recommendation.search_recommendation(recommender,@profile).content%>
                        </div>
                        <br>
                        <% end %>
                    
                    <% end %>
                    
                    <% if !@profile.recommendees.empty? %>
                    <br>
                        <h5 class="mb-3">Recommendee: <%= @profile.recommendees.size %></h5>
                        <% @profile.recommendees.each do |recommendee| %>
                        
                        <div class="p-4 bg-light rounded shadow-sm">
                        <p class="font-italic mb-0" style="word-wrap: break-word;">
                            Commented on <%= recommendee.name%>'s page: <br> <%= Recommendation.search_recommendation(@profile, recommendee).content%> 
                            <div style="text-align: right">
                            <%= link_to 'delete', "/profiles/delete/#{Recommendation.search_recommendation(@profile, recommendee).id}", style: 'font-size: 10px'%>
                            </div>
                        </div>
                        <br>
                        <% end %>
                    
                    <% end %>



                </div>
            </div>
            <%= link_to 'Log out', '/logout', class: 'btn btn-dark mr-3 mb-3',style: "float: right" %>
            <%= link_to 'Cohort Page', '/cohorts', class: 'btn btn-dark mr-3 mb-3',style: "float: right" %>
            
            
        </div><!-- End profile widget -->

    </div>
</div>

