  <%= stylesheet_link_tag    'form', media: 'all' %>


<div class="wrapper fadeInDown">
<div id="formContent">
<%= form_with url: "/login", method: "post" do |f| %>

<%= f.text_field :username, class: "fadeIn", placeholder: "username" %>
<br>
<%= f.password_field :password, class: "fadeIn", placeholder: "password" %>

<br>
<br>
<%= f.submit "Login", class: "fadeIn"%>

 <div id="formFooter">
 
    <%= link_to 'Sign up', '/signup', class: "underlineHover link" %>
</div>

<% end %>
</div>
</div>

