  <%= stylesheet_link_tag    'form', media: 'all' %>


<div class="wrapper fadeInDown">
<div id="formContent">

<% if flash[:errors] %>
    
    <% flash[:errors].each do |error| %>
        <div class="alert alert-danger" role="alert">
         <%= error %>
      </div>       
  
    <% end %>    
    

<% end %>


<%= form_with url: "/signup", method: "post" do |f| %>

<%= f.text_field :username, placeholder: "username", class: "fadeIn" %>

<%= f.password_field :password, class: "fadeIn", placeholder: "password" %>

<%= f.password_field :password_confirmation, class: "fadeIn second", placeholder: "confirm password" %>

<%= f.submit "SignUp", class: "fadeIn"%>

 <div id="formFooter">
 
    <%= link_to 'Log in', '/login', class: "underlineHover link" %>
</div>

<% end %>
</div>
</div>
